*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.pie-pagina{
    width: 100%;
    background-color: #0a141d;
}

.pie-pagina .grupo-1{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 50px;
    padding: 45px 0px;
}
.pie-pagina .grupo-1 .box figure{
    width: 100%;
    height: 100%;
    display: flex;
     /*aliniacion horizontal*/
    justify-content: center;
    /*aliniacion vertical*/
    align-items: center;
}
img{
    width: 250px;
    height: 125px
}
h2{
    color: white;
    font-size: 30px;
    margin-bottom: 15px;
}
p{
    color: white;
    font-size: 20px;
    margin-bottom: 10px;
}

.red-social a{
    /*despliegue de los iconos*/
    display: inline-block;
    /*creacion de cuadros */
    width: 45px;
    height: 45px;
    background-color: #0d2033;
    /*centrar los iconos dentro de los cuadros*/
    line-height: 45px;
    /*separacion  entre iconos*/
    margin-right: 10px;
    /*iconos*/
    font-size: 20px;
    color:aqua;
    text-decoration: none;
    transition: all 300ms ease;
    text-align: center;
}

.red-social a:hover{
    color: rgb(68, 104, 197);
}
.grupo-2{
    background-color: #0a1a2a;
    padding: 15px 10px;
    text-align: center;
    color: white;
}
.grupo-2 small {
    font-size: 15px;
}
@media screen and (max-width:800px){
    .pie-pagina .grupo-1{
        width: 90%;
        grid-template-columns: repeat(1,1fr);
        grid-gap: 30px;
        padding: 35px 0px;
    }
    .grupo-2 small {
        font-size: 12px;
    }
}