*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

body{
    background-color: #313052;
}

.navegador{
    width: 1000px;
    margin: 30px auto;
    background-color: white;
}

.navegador ul{
    list-style: none;
}

.menu > li{
    position: relative;
    display: inline-block;
}

.menu > li > a{
    display: block;
    padding: 15px 20px;
    color: #353535;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}
.menu li a:hover {
    color: rgb(237, 135, 135);
    transition: all .2s;
}
.submenu {
    position: absolute;
    background-color: #333333;
    width: 120%;
    visibility: hidden;
    opacity: 0;
    transition: opacity 1s;
}
.submenu li a {
    display: block;
    padding: 15px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}
.menu li:hover .submenu{
    visibility: visible;
    opacity: 1;
}