/*estilos universales*/
*{
padding: 0;
margin: 0;
}
.Container{
    max-width: auto;
    margin: auto;
}

header{
    background-color: rgb(245,245,245);
    position: fixed;
    width: 100%;
    opacity: 80%;
}

header .logo{
    margin: 0;
    padding: 25px 30px;
    font-weight: bold;
    color: darkorchid;
    font-size: 30px;
}

header .Container{
    display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
}

header nav{
    display: flex;
    flex-direction:row;
    padding-right: 20px;
    padding-bottom: 0;
}

header a{
    padding: 5px 12px;
    text-decoration: none;
    font-weight: bold;
    color:black;
}

header a:hover{
    color: darkorchid;
}


