*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background: #dfe2df;
    font-family: 'open sans';
}

.contenedor{
    width: 100%;
    max-width: 900px;
    margin: auto;
    /*ocupa el 100% de la pantalla*/
    height: 100vh;
    display: flex;
    /*Alineacion horizontal*/
    justify-content: center;
    /*Alineacion vertical*/
    align-items: center;
    flex-wrap: wrap;
}

.table{
    width: 33%;
    height: 550px;
    margin: auto;
    border: 1px solid #343759;
    border-radius: 4px;
    box-shadow: 0px 0px 4px 0px #343759;
    padding: 60px;
    text-align: center;
    flex-grow: 1;
    color: #343759;
}

.table>h2{
    font-size: 30px;
    margin-bottom: 35px;
}

.table img{
    margin-bottom: 35px;
    width: 64px;
}

.table > h3{
    font-size: 30px;
    margin-bottom: 15px;
}

.table > p {
    display: block;
    margin-bottom: 20px;
}

.button{
    display: inline-block;
    width: 150px;
    padding: 12px;
    background: #a5f059;
    text-decoration: none;
    color: #343759;
    border-radius: 90px;
    text-align: center;
    font-size: 14px;
    font-weight: 600;
    margin: auto;
}
.table:hover{
    background: #686d9f;
    color: #f1f1f2;
    transition: 0.5s all ;
    transform: scale(1.1);
    cursor: pointer;
}

@media screen and (max-width: 1024px){
    .table{
        width: 45%;
        max-width: none;
        margin-bottom: 40px;
        flex-grow: initial;
    }

}
@media screen and (max-width: 700px){
    .table{
        width: 45%;
      padding: 30px; 
    }

    .table > h2{
        margin-top: 40px;
    }

}

@media screen and (max-width: 550px){
    .table{
        width: 85%;
        padding: 20px;
    }
}



 