
.cont {
    display: grid;
    grid-template-columns: repeat(2,1fr);
}


#grupo1 {
    margin-left: 27px;
    margin-top: 4px;
}

#grupo2 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    text-align: center;
    justify-content: space-evenly;
    justify-items: center;
    align-items: stretch;

}
#grupo1 p{
    margin-left: 350px;
    margin-top: 4px;
}

.numbers-show {
    margin-top: 4px;
    margin-right: -850px;
}

.icon-tabler-layout-grid{
    margin-left: 400px;
}

select{
    border-radius: 5px;
    border: none;
    font-size: 18px;
    cursor: pointer;
    text-align: center;
    padding: 2px 20px;
}

#Nuestros-programas{
    background-color: rgb(30, 30, 30);
    color: white;
    text-align: center;
}

#Nuestros-programas .Container{
    padding: 150px 12px;
    text-align: left;
    margin-left: 120px;
    margin-right: 120px;
}

.Programas p{
    display: none;
}
#Nuestros-programas .Carta{
    background-position: center center;
    background-size: cover;
    padding: 60px;
    margin: 20px;
    border-radius: 15px;
}

.Carta:first-child{
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.7),
        rgba(0,0,0,0.7)
    )
    ,url("imagenes/importancia-de-la-programacion-en-una-empresa.jpg");
}

.Carta:nth-child(2){
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.7),
        rgba(0,0,0,0.7)
    )
    ,url("imagenes/images.jpg");
}

.Carta:last-child{
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.7),
        rgba(0,0,0,0.7)
    )
    ,url("imagenes/Cursos-Gratuitos-De-Programación-800x425.png");
}

.Carta p{
    font-weight: bolder;
}



