
.cont {
    display: flex;
    flex-direction: row; 
}

.cont p{
    margin-bottom: 0px;
    align-items:center;
    text-align: end;
}



#Nuestros-programas{
    background-color: rgb(30, 30, 30);
    color: white;
    text-align: center;
}

#Nuestros-programas .Container{
    padding: 150px 12px;
    text-align: left;
    margin-left: 120px;
}

#Nuestros-programas p{
    display: none;
}
#Nuestros-programas .Carta{
    background-position: center center;
    background-size: cover;
    padding: 60px;
    margin: 20px;
    border-radius: 15px;
}

.Carta:first-child{
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.7),
        rgba(0,0,0,0.7)
    )
    ,url("imagenes/importancia-de-la-programacion-en-una-empresa.jpg");
}

.Carta:nth-child(2){
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.7),
        rgba(0,0,0,0.7)
    )
    ,url("imagenes/images.jpg");
}

.Carta:last-child{
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.7),
        rgba(0,0,0,0.7)
    )
    ,url("imagenes/Cursos-Gratuitos-De-Programación-800x425.png");
}

.Carta p{
    font-weight: bolder;
}
@media (min-width: 720px) {

    
    #Nuestros-programas .Programas{
        display: flex;
        justify-content: center;
    }

    #Nuestros-programas p{
        display: block;
        margin-bottom: 30px;
    }
    #Nuestros-programas h3{
        margin-top: 20px;
    }

    #Nuestros-programas .Carta{
        padding: 60px;
        box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5) ;
    }

}


